@import url("https://crearts-community.github.io/Context-Icons/theme.css");

/* Slider */
#rtc-channel-input .sliderContainer-2nidiS::before,#audio-device-context-input .sliderContainer-2nidiS::before {
    --icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/mic.svg') !important;
}
#user-context-user-volume .sliderContainer-2nidiS::before,#stream-context-user-volume .sliderContainer-2nidiS::before{
    --icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#audio-device-context-output .sliderContainer-2nidiS::before,#rtc-channel-output .sliderContainer-2nidiS::before{
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones.svg') !important;
}

/* User Icons */
#user-context-mark-channel-read::before,#channel-context-mark-channel-read::before,#user-context-mark-events-read::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/checkmark_circle.svg') !important;
}
#user-context-favorite-channel::before,#channel-context-favorite-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/star.svg') !important;
}
#user-context-user-profile::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person.svg') !important;
}
#user-context-mention::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/mention.svg') !important;
}
#user-context-message-user::before,#user-profile-actions-user-message::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/comment.svg') !important;
}
#user-context-call::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/call.svg') !important;
}
#user-context-note::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/note_edit.svg') !important;
}
#user-context-add-friend-nickname::before,#user-context-edit-friend-nickname::before,#user-context-change-nickname::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_edit.svg') !important;
}
#user-context-watch-stream::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/live.svg') !important;
}
#user-context-mute[aria-checked='false']::before,#user-context-voice-mute[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/mic.svg') !important;
}
#user-context-mute[aria-checked='true']::before,#user-context-voice-mute[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/mic_off.svg') !important;
}
#user-context-deafen[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones.svg') !important;
}
#user-context-deafen[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones_sound_wave.svg') !important; /*placeholder icon*/
}
#user-context-disable-video[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video.svg') !important;
}
#user-context-disable-video[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video_off.svg') !important;
}
#user-context-voice-deafen[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones.svg') !important;
}
#user-context-voice-deafen[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones_sound_wave.svg') !important; /*placeholder icon*/
}
#user-context-voice-disconnect::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/call_dismiss.svg') !important;
}
#user-context-leave-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_left.svg') !important;
}
#user-context-close-dm::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/comment_dismiss.svg') !important;
}
#user-context-apps::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/bot.svg') !important;
}
#user-context-invite-to-server::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/add_circle.svg') !important;
}
#user-context-add-friend::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_add.svg') !important;
}
#user-context-remove-friend::before,#user-profile-actions-user-remove::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_delete.svg') !important;
}
#user-context-block::before,#user-profile-actions-user-block::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/prohibited.svg') !important;
}
#user-context-mute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#user-context-unmute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_off.svg') !important;
}
#user-context-timeout::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_clock.svg') !important;
}
#user-context-kick::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_delete.svg') !important;
}
#user-context-ban::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_prohibited.svg') !important;
}
#user-context-roles::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/flag.svg') !important;
}
#user-context-voice-move::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_swap.svg') !important;
}
/* Copy ID */
#user-context-devmode-copy-id::before,#gdm-context-devmode-copy-id::before,#message-devmode-copy-id::before,#message-actions-copy-id::before,#user-profile-actions-devmode-copy-id::before,#channel-context-devmode-copy-id::before,#guild-settings-role-context-devmode-copy-id::before,#guild-context-devmode-copy-id::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}

/* User (Actions) */
#friend-row-start-video-call::before,#user-context-change-video-background::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video.svg') !important;
}
#friend-row-start-voice-call::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/call.svg') !important;
}
#friend-row-remove-friend::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_delete.svg') !important;
}

/* Group */
#gdm-context-mark-channel-read::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/checkmark_circle.svg') !important;
}
#gdm-context-instant-invites::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/link.svg') !important;
}
#gdm-context-change-icon::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/image_add.svg') !important;
}
#gdm-context-remove-icon::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/image_prohibited.svg') !important;
}
#gdm-context-mute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#gdm-context-unmute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_off.svg') !important;
}
#gdm-context-leave-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_left.svg') !important;
}

/* 	Message */
#message-copy::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}
#message-search-google::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/search.svg') !important;
}
#message-add-reaction::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/emoji_add.svg") !important;
}
#message-reactions::before,#message-actions-reactions::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/emoji.svg') !important;
}
#message-edit::before,#message-actions-edit::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/edit.svg") !important;
}
#message-pin::before,#message-actions-pin::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/pin.svg") !important;
}
#message-reply::before,#message-actions-reply::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/arrow_reply.svg") !important;
}
#message-thread::before,#message-actions-goto-thread::before,#message-actions-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/comment_multiple.svg') !important;
}
#message-apps::before,#message-actions-apps::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/bot.svg") !important;
}
#message-mark-unread::before,#message-actions-mark-unread::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/comment_error.svg") !important; /*todo*/
}
#message-copy-link::before,#message-actions-copy-link::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/link.svg") !important;
}
#message-tts::before,#message-actions-tts::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#message-remove-reactions::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/dismiss_circle.svg') !important;
}
#message-delete::before,#message-actions-delete::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/delete.svg") !important;
}
#message-copy-image::before,#image-context-copy-image::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/image_copy.svg') !important;
}
#message-save-image::before,#image-context-save-image::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/save.svg') !important;
}
#message-copy-native-link::before,#image-context-copy-native-link::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/link.svg') !important;
}
#message-open-native-link::before,#image-context-open-native-link::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/open.svg') !important;
}

/* Stream */
#stream-context-watch::before,#manage-streams-stop-streaming::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/live_off.svg') !important;
}
#stream-context-mute[aria-checked="true"]::before,#user-context-mute-events[aria-checked="true"]::before,#favorite-server-context-mute-server[aria-checked="true"]::before{
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_off.svg') !important;
}
#stream-context-mute[aria-checked="false"]::before,#user-context-mute-events[aria-checked="false"]::before,#favorite-server-context-mute-server[aria-checked="false"]::before{
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#stream-context-no-video-hide[aria-checked="true"]::before,#channel-call-overflow-popout-no-video-hide[aria-checked="true"]::before,#user-context-no-video-hide[aria-checked="true"]::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video_person.svg') !important;
}
#stream-context-no-video-hide[aria-checked="false"]::before,#channel-call-overflow-popout-no-video-hide[aria-checked="false"]::before,#user-context-no-video-hide[aria-checked="false"]::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video_person_off.svg') !important;
}
#stream-context-self-stream-hide[aria-checked="true"]::before,#channel-call-overflow-popout-self-stream-hide[aria-checked="true"]::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye.svg') !important;
}
#stream-context-self-stream-hide[aria-checked="false"]::before,#channel-call-overflow-popout-self-stream-hide[aria-checked="false"]::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye_off.svg') !important;
}
#stream-context-report-stream-problem::before,#manage-streams-report-stream-problem::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/error_circle.svg') !important;
}
#manage-streams-stream-settings::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/options.svg') !important;
}
#manage-streams-change-windows::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/window.svg') !important;
}

/* Text Area */
#textarea-context-suggestions::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/lightbulb.svg') !important;
}
#textarea-context-submit-button::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/send.svg') !important;
}
#textarea-context-add-to-dictionary::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/book_add.svg') !important;
}
#textarea-context-spellcheck[aria-checked="false"]::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/checkbox_unchecked.svg") !important;
}
#textarea-context-spellcheck[aria-checked="true"]::before {
	--icon: url("https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Checkbox%20Checked/SVG/ic_fluent_checkbox_checked_24_filled.svg") !important;
}
#textarea-context-languages::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/local_language.svg') !important;
}
#textarea-context-copy::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}
#textarea-context-cut::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/cut.svg') !important;
}
#textarea-context-paste::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/clipboard_paste.svg') !important;
}

/* Channel */
#channel-context-unmute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_off.svg') !important;
}
#channel-context-mute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#channel-context-collapse-category[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/folder_open.svg') !important;
}
#channel-context-collapse-category[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/folder.svg') !important;
}
#channel-context-collapse-all-categories::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_collapse_all.svg') !important;
}
#channel-context-channel-notifications::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/alert.svg') !important;
}
#channel-context-hide-voice-names[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye.svg') !important;
}
#channel-context-hide-voice-names[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye_off.svg') !important;
}
#channel-context-edit-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/edit.svg') !important;
}
#channel-context-copy-channel-topic::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}
#channel-context-invite-people::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person_add.svg') !important;
}
#channel-context-clone-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}
#channel-context-create-text-channel::before,#channel-context-create-voice-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/add_circle.svg') !important;
}
#channel-context-channel-copy-link::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/link.svg') !important;
}
#channel-context-delete-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/delete.svg') !important;
}

/* Guild */
#guild-header-popout-premium-subscribe::before{
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/boost.svg") !important;
}
#guild-header-popout-insights::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/data_trending.svg') !important;
}
#guild-header-popout-invite-people::before,#guild-context-invite-people::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/person_add.svg") !important;
}
#guild-header-popout-settings::before,#guild-context-guild-settings::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/settings.svg") !important;
}
#guild-header-popout-create-channel::before,#guild-context-create-channel::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/add_circle.svg") !important;
}
#guild-header-popout-create-category::before,#guild-context-create-category::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/folder_add.svg") !important;
}
#guild-header-popout-create-event::before,#guild-context-create-event::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/calendar_add.svg') !important;
}
#guild-header-popout-mark-guild-read::before,#guild-context-mark-guild-read::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/checkmark_circle.svg') !important;
}
#guild-header-popout-notifications::before,#guild-context-guild-notifications::before,#guild-context-notifications::before,#thread-context-thread-notifications::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/alert.svg") !important;
}
#guild-header-popout-privacy::before,#guild-context-privacy::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/shield_lock.svg") !important;
}
#guild-header-popout-change-nickname::before,#guild-context-change-nickname::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/person_edit.svg") !important;
}
#guild-header-popout-hide-muted-channels[aria-checked="false"]::before,#guild-context-hide-muted-channels[aria-checked="false"]::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/eye.svg") !important;
}
#guild-header-popout-hide-muted-channels[aria-checked="true"]::before,#guild-context-hide-muted-channels[aria-checked="true"]::before  {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/eye_off.svg") !important;
}
#guild-header-popout-leave::before,#guild-context-leave-guild::before {
	--icon: url("https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_left.svg") !important;
}
#guild-settings-role-context-view-as-role::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye.svg') !important;
}
#guild-settings-role-context-delete-role::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/delete.svg') !important;
}
#guild-context-mute-guild::before,#thread-context-mute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_2.svg') !important;
}
#guild-context-unmute-guild::before,#thread-context-unmute-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/speaker_off.svg') !important;
}
#guild-context-mark-folder-read::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/checkmark_circle.svg') !important;
}
#guild-context-folder-settings::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/settings.svg') !important;
}
#guild-context-folder-collapse::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/folder.svg') !important;
}
#guild-context-join::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_right.svg') !important;
}
#guild-context-create::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/add_circle.svg') !important;
}

/* Thread */
#thread-context-open::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/data_treemap.svg') !important;
}
#thread-context-join-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_right.svg') !important;
}
#thread-context-leave-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_circle_left.svg') !important;
}
#thread-context-channel-copy-link::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/link.svg') !important;
}
#thread-context-mark-channel-read::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/checkmark_circle.svg') !important;
}
#thread-context-edit-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/comment_edit.svg') !important;
}
#thread-context-archive-thread::before,#thread-context-unarchive-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/archive.svg') !important;
}
#thread-context-auto-archive-thread::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/clock.svg') !important;
}
#thread-context-search::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/search.svg') !important;
}
#thread-context-pins::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/pin.svg') !important;
}
#thread-context-delete-channel::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/delete.svg') !important;
}
#thread-context-devmode-copy-id::before,#live-stage-tile-context-devmode-copy-id::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}

/* Now Playing */
#now-playing-menu-message::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/comment.svg') !important;
}
#now-playing-menu-play-undefined::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/games.svg') !important;
}
#now-playing-menu-spotify-play::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/play_circle.svg') !important;
}
#now-playing-menu-spotify-sync::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/headphones.svg') !important;
}

/* Video */
#video-device-context-change-video-background::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/video.svg') !important;
}
#video-background-context-remove::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/dismiss_circle.svg') !important;
}

/* RTC */
#rtc-channel-show-voice-states[aria-checked='true']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye.svg') !important;
}
#rtc-channel-show-voice-states[aria-checked='false']::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/eye_off.svg') !important;
}
#rtc-channel-popout-call::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/open.svg') !important;
}

/* Subscription */
#subscription-context-apply::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/arrow_swap.svg') !important;
}

/* Voice Settings */
#audio-device-context-voice-settings::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/options.svg') !important;
}

/* Settings */
#user-settings-cog-My_Account::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/person.svg') !important;
}
#user-settings-cog-Profile_Customization::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/edit.svg') !important;
}
#user-settings-cog-Privacy___Safety::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/shield_lock.svg') !important;
}
#user-settings-cog-Authorized_Apps::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/apps.svg') !important;
}
#user-settings-cog-Connections::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/phone_desktop.svg') !important;
}
#user-settings-cog-Discord_Nitro::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/nitro.svg') !important;
}
#user-settings-cog-Subscriptions::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/star.svg') !important;
}
#user-settings-cog-Nitro_Server_Boost::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/boost.svg') !important;
}
#user-settings-cog-Library_Inventory::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/gift.svg') !important;
}
#user-settings-cog-Billing::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/receipt.svg') !important;
}
#user-settings-cog-Appearance::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/paint_bucket.svg') !important;
}
#user-settings-cog-Accessibility::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/accessibility.svg') !important;
}
#user-settings-cog-Voice___Video::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/mic.svg') !important;
}
#user-settings-cog-Text___Images::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/image.svg') !important;
}
#user-settings-cog-Notifications::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/alert.svg') !important;
}
#user-settings-cog-Keybinds::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/keyboard.svg') !important;
}
#user-settings-cog-Language::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/local_language.svg') !important;
}
#user-settings-cog-Windows::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/window.svg') !important;
}
#user-settings-cog-Linux::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/server.svg') !important;
}
#user-settings-cog-Streamer_Mode::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/live.svg') !important;
}
#user-settings-cog-Advanced::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/wrench.svg') !important;
}
#user-settings-cog-Game_Activity::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/games.svg') !important;
}
#user-settings-cog-Overlay::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/picture_in_picture.svg') !important;
}
#user-settings-cog-changelog::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/clock.svg') !important;
}
#user-settings-cog-Hypesquad_Online::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/hypesquad.svg') !important;
}
#user-settings-cog-Experiments::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/beaker.svg') !important;
}
#user-settings-cog-Developer_Options::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/code.svg') !important;
}
#user-settings-cog-Hotspot_Options::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/communication.svg') !important;
}
#user-settings-cog-Dismissible_Content_Options::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/dismiss_circle.svg') !important;
}
#user-settings-cog-Payment_Flow_Modals::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/payment.svg') !important;
}
#guild-entry-context-update-entry::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/settings.svg') !important;
}
#guild-entry-context-remove-from-hub::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/dismiss_circle.svg') !important;
}
#guild-entry-context-report-server-listing::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/flag.svg') !important;
}
#guild-entry-context-devmode-copy-id::before,#dev-context-devmode-copy-id::before {
	--icon: url('https://stickfab.github.io/pc-fluenticons/assets/24/copy.svg') !important;
}
